<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51300635488-icachssj714ftt85n9fcvcj1ruh6gpq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51300635488-icachssj714ftt85n9fcvcj1ruh6gpq6</string>
	<key>API_KEY</key>
	<string>AIzaSyDeTPVIk3p0CpTxRSzc19GLNatOZky_CKw</string>
	<key>GCM_SENDER_ID</key>
	<string>51300635488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vietrau</string>
	<key>PROJECT_ID</key>
	<string>vietrauappnoitification</string>
	<key>STORAGE_BUCKET</key>
	<string>vietrauappnoitification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:51300635488:ios:5d7be5629710ee17318405</string>
</dict>
</plist>
